fieldset {
	width: 90%;
	border: 2px solid #ff0000;

}
#button{
	margin-top: 12px;

}
legend {
	fot-weight: bold;
	font-size: 125%;

}
label.question{
	width:  225px;
	float: left;
	text-align:  left;
	font-weight: bold;

}
span.question{
	font-weight: bold;

}
input, textarea, select {
	border:  1px solid #000;

}
textarea{
	height:  5em;
	width: 22em;
}
